<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android'
	package='net.comcraft.server' a:versionCode='0' a:versionName='0'>
	<application a:label='ComCraft Server' a:icon="@drawable/appicon">
		<activity a:name='net.comcraft.server.ActivityMain'>
			<intent-filter>
				<category a:name='android.intent.category.LAUNCHER' />
				<action a:name='android.intent.action.MAIN' />
			</intent-filter>
		</activity>
	</application>

	<uses-permission a:name="android.permission.INTERNET">
	</uses-permission>
</manifest>